<div class="btns"><a class="btn solid" href="https://matrix.to/#/#community:im.anoni.net">{{ icon('forum-outline') }}{{ t.join_matrix }}</a><a class="btn" href="{{ page_url('join') }}">{{ t.join_how }}</a></div>
