<ul class="rows">
{% for tool in data.projects.tools %}
  <li><a class="row" href="{{ page_url(tool.page) if tool.page is defined else docs_url(tool.docs) }}"><span class="ic">{{ icon(tool.icon) }}</span><span class="b"><span class="t">{{ pick(tool.name) }}</span><span class="d">{{ pick(tool.summary) }}</span></span><span class="go">{{ icon('arrow-right') }}</span></a></li>
{% endfor %}
</ul>
